<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auction</title>
    <!-- Add your CSS links or styles here -->
</head>
<body>

                Card: <%= auction.cardId.name %><br>
                Seller: <%= auction.sellerId.name %><br>
                Current Price: <%= auction.currentPrice %><br>

                Bids:<br>
                <ul>
                    <% auction.bids.forEach(bid => { %>
                        <li><%= bid.bidder.name %> - <%= bid.bidAmount %></li>
                    <% }); %>
                </ul>
                
                <form method="POST">
                    <input type="hidden" name="auctionId" value="<%= auction._id %>">
                    <label for="bidAmount">Place Your Bid:</label>
                    <input type="number" id="bidAmount" name="bidAmount" required>
                    <button type="submit">Bid</button>
                </form>
    </ul>


</body>
</html>
