<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= card.name %></title>
    <%- include("../partials/head");  %>
    <link rel="stylesheet" href="/stylesheets/cardPage.css">
</head>
<body>
    <%- include("../partials/nav.ejs"); %>
    <main>
        <div class="container" >
            <div class="card-container" >
                <div class="image-container" >
                    <img class="card-image" src="/<%= card.image %>" alt="Not Found" />
                </div>
                <div class="details-container">
                    <strong>Name: </strong><span><%= card.name %></span><br><br>
                    <strong>Grade: </strong><span><%= card.grade %></span><br><br>
                    <strong>Info: </strong><span><%= card.info %></span><br><br>
                    <strong>Nature: </strong><span><%= card.nature %></span><br><br>
                </div>
            </div>
        </div>
    </main>
</body>
</html>