<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <%- include("../partials/head");  %>
    <title><%= user.name %></title>
</head>
<body>
    <%- include('../partials/nav')%>
    <main>
        <div class="profile-container">
            <p><strong>Player's Name: </strong><%= user.name %></p>
            <p><strong>Astral Coins: </strong><%= user.astralCoins %></p>
            <p><strong>Email: </strong><%= user.email %></p>
            <p><strong>Phone Number: </strong><%= user.mobile %></p>
            <button type="submit" onclick="location.assign('/user/logout')" class="logout-button">Logout</button>
        </div>
    </main>
</body>
</html>